* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

.App {
  min-height: 100vh;
  padding: 0 10vw 5vw;
}

.top-nav-bar {
  display: flex;
  gap: 1rem;
  justify-content: center;
  height: 7vh;
  margin-bottom: 3vh;
}

.grid-container {
  max-width: 600px;
  display: grid;
  gap: 1rem;
  margin: 0 auto;
}

.quiz-list-container {
  flex: 1 0 300px;
  display: grid;
  gap: 2rem;
}
